.bg_visual {
    animation: idx_bg 25s ease-in-out alternate forwards infinite;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url(/imgs/new_main/img_main_kv.png) no-repeat center center;
    background-size: cover;
}


